<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Endroits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="https://apero-project-static.s3.eu-west-3.amazonaws.com/undraw_barbecue_3x93_orange.svg" alt="">
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let restaurant of restaurantsChanges | async">
            <ion-label>{{restaurant.nom}}</ion-label>
            <ion-label>{{restaurant.note}} <ion-icon name="star"></ion-icon></ion-label>
            <ion-icon name="create-outline" slot="end" style="cursor:pointer;" (click)="presentEditRestaurantModal(restaurant)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAddRestaurantModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
