name: Android
on: [pull_request, push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: actions/setup-dotnet@v1

      - name: Install GitVersion
        run: dotnet tool install --global GitVersion.Tool

      - name: test
        run: dotnet gitversion

      - name: test
        run: dotnet gitversion --help

      - name: Get semver
        id: semver
        run: dotnet gitversion | jq -r '.FullSemVer'

      - run: echo "${{ steps.semver.output }}"

      - run: chmod +x ./android/gradlew

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build the app
        run: yarn run build-apk

      - uses: sparkfabrik/android-build-action@v1.0.0
        with:
          project-path: android
          output-path: apero.apk

      - uses: actions/upload-artifact@v2
        with:
          name: apk
          path: ./apero.apk
