name: Android
on: [pull_request, push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: actions/setup-dotnet@v1

      - name: Install GitVersion
        run: git fetch --unshallow && dotnet tool install --global GitVersion.Tool

      - name: Get semver
        id: semver
        run: echo "SEMVER=$(dotnet gitversion | jq -r '.FullSemVer')" >> $GITHUB_ENV

      - run: chmod +x ./android/gradlew

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build the app
        run: yarn run build-apk

      - uses: sparkfabrik/android-build-action@v1.0.0
        with:
          project-path: android
          output-path: apero.${{ env.SEMVER }}.apk

      - name: upload artifact to Firebase App Distribution
        run: yarn firebase appdistribution:distribute --app ${{ secrets.FIREBASE_APP_ID }} apero.${{ env.SEMVER }}.apk --token ${{ secrets.FIREBASE_TOKEN }}

      - uses: actions/upload-artifact@v2
        with:
          name: apk
          path: apero.${{ env.SEMVER }}.apk
